i[class^=icon] { // 获取类名开头为icon的i标签
  display: inline-block;
  border-radius: 22px;
  background-color: $color_main;
  background-repeat: no-repeat;
}
.icon-w-44{width: 44px; height: 44px;}
.icon-help {
  background-image: url(~@/assets/images/icon/icon-help.png);
}
.icon-search {
  background-image: url(~@/assets/images/icon/icon-search.png);
}
.icon-location {
  background-image: url(~@/assets/images/icon/icon-location.png);
}
.icon-center {
  background-image: url(~@/assets/images/icon/icon-center.png);
}
.icon-select {
  background-image: url(~@/assets/images/icon/icon-select.png);
}
.icon-account {
  background-image: url(~@/assets/images/icon/icon-router-link-001.png);
}
.icon-order {
  background-image: url(~@/assets/images/icon/icon-router-link-002.png);
}
.icon-realname {
  background-image: url(~@/assets/images/icon/icon-router-link-003.png);
}
.icon-safety {
  background-image: url(~@/assets/images/icon/icon-router-link-004.png);
}
.icon-help-center {
  background-image: url(~@/assets/images/icon/icon-router-link-005.png);
}
